<% title(_('About Password Pusher')) %>
<h4 class='border-bottom my-3 py-3'><%= _('About') %></h4>

<div class="row">
    <div class="col-8">
        <p>
            <%= _('Password Pusher is an application to communicate passwords over the web. Links to passwords
            expire after a certain number of views and/or time has passed.') %>
        </p>
        <p>
            <%= _('Hosted at') %>
            <%= link_to 'pwpush.com', 'https://pwpush.skillable.com' %>
            <%= _('or you can run your own private instance wherever you like.') %>
        </p>

        <p>
            <%= _('The source code is') %>
            <a href="https://github.com/pglombardo/PasswordPusher" target="_blank"><%= _('on Github') %></a>.
            <%= _('It’s opensource and free for anyone to use, review or modify.') %>
        </p>



    </div>
</div>
